* {
	box-sizing: border-box;
}

:root {
	--primary-color: #ff5b2e;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	font-family: "Poppins", sans-serif;
	background: #fffaf5;
}

a {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Sora", sans-serif;
}

input,
textarea,
select,
button {
	font-size: inherit;
	font-family: inherit;
}

/* === COMMON === */

.container {
	width: 1170px;
	max-width: calc(100% - 48px);
	margin: 0 auto;
}

.btn {
	--height: 56px;

	display: inline-flex;
	align-items: center;
	justify-content: center;
	min-width: 130px;
	height: var(--height);
	line-height: var(--height);
	border-radius: 999px;
	border: 1px solid rgba(0, 9, 88, 0.7);
	text-align: center;
	color: #000958;
	text-align: center;
	font-size: 1.4rem;
	font-weight: 600;
}

.btn:hover {
	color: #fff;
	background: var(--primary-color);
	border-color: var(--primary-color);
	transition: background-color 0.25s, border-color 0.25s;
}

.btn--primary {
	color: #fff;
	background: var(--primary-color);
	border-color: var(--primary-color);
}

.btn__icon {
	margin-left: 10px;
	color: var(--primary-color);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20px;
	height: 20px;
	background: #fff;
	border-radius: 50%;
}

.section-label {
	color: #5e6085;
	font-family: Sora, sans-serif;
	font-size: 1.6rem;
	font-weight: 600;
	line-height: 1;
}

.section-heading {
	color: #000958;
	font-size: 5.2rem;
	font-weight: 700;
	line-height: 1.2;
}

.section-desc {
	color: #656689;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.87;
}

/* === HEADER === */
.header {
	padding: 26px 0;
}

.header__inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar__list {
	display: flex;
}

.header-action__link,
.navbar__link {
	color: #5e6085;
	padding: 8px 18px;
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 1;
}

.header-action__link:hover,
.navbar__link:hover {
	color: #000958;
	text-shadow: 0 0 0 currentColor;
}

.header-action__btn {
	--height: 50px;
	min-width: 117px;
}

/* === HERO === */
.hero {
	margin-top: 74px;
}

.hero__inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 0 120px;
}

.hero__media {
	position: relative;
	display: flex;
	padding-bottom: 96px;
}

.hero__media-wrap {
	position: relative;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	width: 388px;
	height: 488px;
	border-radius: 16px;
	background: #fe997b;
	border: 3px solid #fff;
}

.hero__img,
.hero__decor {
	position: absolute;
}

.hero__img {
	max-width: 100%;
	max-height: 100%;
	border-radius: inherit;
}

.hero__decor {
	z-index: -1;
}

.hero__decor-left {
	left: -58px;
	bottom: 10px;
}

.hero__decor-right {
	top: 16px;
	right: -45px;
}

.hero__media-wrap-small {
	margin: 0 0 -58px -24px;
	width: 186px;
	height: 244px;
	align-self: flex-end;
	background: #faa7ad;
	border: 2px solid #fde0e2;
}

.hero__list {
	position: absolute;
	bottom: 0;
	right: 171px;
	width: 250px;
	height: 156px;
	padding: 18px 14px;
	border-radius: 10px;
	box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
	background: #fff;
}

.hero__separate {
	margin: 20px 0;
	width: 100%;
	height: 2px;
	opacity: 0.08;
	border-radius: 999px;
	background: #000958;
}

.hero-list-item {
	display: flex;
	align-items: center;
	gap: 0 9px;
}

.hero-list-item__thumb {
	width: 40px;
	height: 40px;
	border-radius: 10px;
	background: #fec23f;
}

.hero-list-item:nth-of-type(2) .hero-list-item__thumb {
	background: #c6e2fa;
}

.hero-list-item__title {
	color: #181e52;
	font-family: Sora;
	font-size: 1.4rem;
	font-weight: 600;
	line-height: 1;
}

.hero-list-item__skeleton {
	margin-top: 7px;
	width: var(--width, 118px);
	height: 4px;
	opacity: 0.1;
	border-radius: 999px;
	background: #000958;
}

/* === HERO CONTENT === */
.hero__heading {
	color: #000958;
	font-family: Sora, sans-serif;
	font-size: 6.6rem;
	font-weight: 800;
	line-height: 1.15;
}

.hero__desc {
	margin-top: 24px;
	color: #656689;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.87;
}

.hero__row {
	display: flex;
	align-items: center;
	gap: 0 24px;
	margin-top: 38px;
}

.hero__btn-cta {
	font-weight: 600;
	--height: 60px;
	min-width: 190px;
	box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

.hero__cta-link {
	color: #000958;
	font-weight: 500;
	line-height: 1;
	text-decoration: underline;
}

/* === ABOUT === */
.about {
	margin-top: 77px;
	padding: 130px 0;
}

.about__inner {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	gap: 98px 0;
}

.about__heading,
.about__desc {
	width: 444px;
}

.about__heading {
	margin-top: 15px;
}

.about__desc {
	margin-top: 24px;
}

.about__checklist {
	margin-top: 54px;
	display: grid;
	grid-template-columns: auto auto;
	gap: 40px 63px;
	justify-content: flex-start;
}

.about__checklist-item {
	position: relative;
	display: flex;
	align-items: center;
	gap: 0 10px;
	color: #48496a;
	font-size: 1.8rem;
	font-weight: 500;
	line-height: 1;
	white-space: nowrap;
}

.about__checklist-item::before {
	content: "";
	display: inline-block;
	width: 24px;
	height: 24px;
	background: #ff5d31;
	border-radius: 4px;
}

.about__checklist-item::after {
	position: absolute;
	top: 2px;
	left: 5px;
	content: url(../icons/check.svg);
}

.about__media-top {
	position: relative;
	margin-left: auto;
}

.about__card {
	position: absolute;
	width: 136px;
	height: auto;
	top: 157px;
	left: -92px;
	padding: 30px 26px;
	text-align: center;
	border-radius: 10px;
	background: #5bd6e2;
	box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
}

.about__card-title {
	color: #fff;
	font-family: Sora;
	font-size: 4.2rem;
	font-weight: 700;
	line-height: 1;
}

.about__card-year {
	margin-top: 14px;
	color: #c6f4f9;
	font-size: 1.4rem;
	font-weight: 400;
	line-height: 1.42;
}

.about__card-icon {
	position: absolute;
	top: -38px;
	right: -30px;
}

.about__media-wrap {
	position: relative;
	width: 494px;
}

.about__media-wrap::after {
	content: "";
	display: inline-block;
	position: absolute;
	inset: auto 0 0 0;
	height: 336px;
	border-radius: 16px;
	background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
	box-shadow: 11px 18px 65px 0px rgba(255, 155, 121, 0.12);
	z-index: -1;
}

.about__img {
	width: 450px;
	display: block;
	margin: 0 auto;
}

.about__decor {
	position: absolute;
	top: 157px;
	right: -50px;
	z-index: -1;
}

.about__media-bottom {
	width: 458px;
}

.about__media-wrap-bottom {
	border-radius: 18px;
	border: 2px solid #fff;
	background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
	box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
}

.about__media-wrap-bottom::after {
	content: none;
}

.about__img-bottom {
	margin: 0;
	width: 100%;
}

.about__decor-img {
	position: absolute;
}

.about__decor-img:nth-child(1) {
	top: 13px;
	right: 63px;
}

.about__decor-img:nth-child(2) {
	top: -16px;
	right: 13px;
}

.about__decor-img:nth-child(3) {
	top: 33px;
	right: -21px;
}

.about__decor-img:nth-child(4) {
	top: 268px;
	right: -33px;
}

.about__decor-img:nth-child(5) {
	bottom: 150px;
	right: 19px;
}

.about__decor-img:nth-child(6) {
	right: -23px;
	bottom: -40px;
}

.about__decor-img:nth-child(7) {
	right: -32px;
	bottom: -47px;
}

.about__decor-img:nth-child(8) {
	right: -42px;
	bottom: -55px;
}
